*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #5E492E;
    color: white;
}

header h2{
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
}

header h2 a{
    color: white;
    text-decoration: none;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header-nav li{
    display: flex;
    padding: 5px 20px;
    font-size: 20px;
    border-right: 2px solid white;
}

.header-nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.header-nav a:hover{
    color: #a35f06;
}

main h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
}

main img{
    height: 300px;
    width: 500px;
    margin: 100px 50px 100px 70px;
    border: 5px solid white;
    outline: 2px solid black;
}

footer{
    background-color: #5E492E;
}

.second-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.services, .about, .cool-links, .contact, .partners{
    color: white;
    font-size: 25px;
}

.second-nav li{
    display: block;
    margin-top: 25px;
    margin-bottom: 20px;
}

.second-nav a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}