@media screen and (max-width:480px){
    .header-nav li {
        font-size: 15px;
        padding: 5px 10px;
    }

    .container{
        width: auto;
    }

    main h2{
        margin-bottom: 15px;
    }

    main .reset-password{
        width: auto;
    }
}